<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th: replace = "fragments :: head"> <!-- use anything of head in fragments-->
</head>
<body>
<!--time leaf snytax-->
<!--/*@thymesVar id="title" type=""*/-->
<h1 th:text="${title}"></h1>
<nav th:replace="fragments :: navigation"></nav>
<form method = "post">  <!-- action = ""hit submit button &
leads to this form, if not specefy, it will go to the original, which is" /cheese/add" here-->
    <input type = "checkbox" name="cheeseDiscription" />
    <input type = "text" name="cheeseName" />
    <input type="submit" value ="Add cheese" />

</form>
</body>
</html>